<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>
      <%= title || "" %> - Si BIMO
   </title>
   <!-- BEGIN PAGE LEVEL STYLES -->
   <!-- END PAGE LEVEL STYLES -->
   <!-- BEGIN GLOBAL MANDATORY STYLES -->
   <!-- END GLOBAL MANDATORY STYLES -->
   <!-- BEGIN PLUGINS STYLES -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.bootstrap5.min.css">
   <!-- END PLUGINS STYLES -->
   <!-- BEGIN DEMO STYLES -->
   <!-- END DEMO STYLES -->
   <!-- BEGIN CUSTOM FONT -->
   <style>
      @import url("https://rsms.me/inter/inter.css");
   </style>
   <!-- END CUSTOM FONT -->
</head>